@media (min-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  #members.grid {
    grid-template-columns: repeat(3, 1fr);
  }

  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: left;
    gap: 1rem;
  }

}
