*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  padding-left: 1.25rem;
}

button {
  font: inherit;
}
