@media (min-width: 768px) {

header {
width: 100%;
background: var(--ocean);
display: grid;
grid-template-columns: auto 1fr auto;
align-items: center;
padding: 1rem 2rem;
}

#menu {
display: none;
}

header > * {
max-width: 1100px;
margin-left: auto;
margin-right: auto;
}

.hero img {
height: 480px;
}

main section {
padding: 3rem;
margin-top: 3rem;
}

.cards-container {
grid-template-columns: repeat(3, 1fr);
}

nav {
display: flex !important;
flex-direction: row;
position: static;
max-height: none;
background: none;
box-shadow: none;
}

nav a {
border: none;
padding: .5rem 1rem;
border-radius: 4px;
}

nav a:hover {
background: rgba(255,255,255,0.2);
padding-left: 1rem;
}


footer {
width: 100%;
background: var(--ocean);
margin: 0;              
border-radius: 0;  
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1rem;
padding: 2rem;     
}

footer > div {
max-width: 1100px;
margin-left: auto;
margin-right: auto;
width: 100%;
}

.footer-left { text-align: left; }
.footer-center { text-align: center; }
.footer-right { text-align: right; }

.footer-right .social {
justify-content: flex-end;
}

}
